/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";


@theme {
    --color-background: #f1f1f1;
    --color-foreground: #0e245a;
    --color-primary: #3469cd;
    --color-accent: #00d1d1;
}

body {
    @apply bg-background text-foreground font-sans flex flex-col;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
    font-family: 'Inclusive Sans', sans-serif;
}

html {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 650px) {
    .content {
        flex-direction: column;
        width: max-content;
    }
}
